<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Angular</title>
    <link rel="stylesheet" href="/css/base.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="/scripts/bundle.js"></script>
  </head>
  <body>
    <div ng-controller="UsersController as u">
      <!--This raw tag is for the node temperating engine to allow double curly braces -->
      {% raw %}

      <form name="newUser" ng-submit="u.addUser()">
        <!-- Angular will validate based on the attributes used, e.g. required -->
        <p><input ng-model="u.newUser.name" name="name" placeholder="name" required></p>
        <p ng-show="newUser.name.$touched && newUser.name.$invalid">Please enter a name</p>

        <p><input ng-model="u.newUser.department" name="department" placeholder="department" required></p>
        <p ng-show="newUser.department.$touched && newUser.department.$invalid">Please enter a dept</p>

        <!-- This input being a number will automatically convert to a Number inside JS -->
        <p><input type="number" ng-model="u.newUser.salary" name="salary" placeholder="salary" required></p>
        <p ng-show="newUser.salary.$touched && newUser.salary.$invalid">Please enter a salary</p>

        <!-- ng-show takes boolean JavaScript expressions -->
        <button ng-show="u.newUser.name.length && u.newUser.department.length && u.newUser.salary">
          Add User
        </button>
      </form>

      <!-- Double curly braces are the equivalent of echo but automatically escape HTML -->
      {{ u.users.length }} Users

      <ul>
        <li ng-repeat="user in u.users">
          <dl>
            <dt>Name</dt><dd>{{ user.name }}</dd>
            <!-- toUpperCase is a filter defined in filters.js (the filters angular module).
                 user.department is passed as the parameter -->
            <dt>Dept</dt><dd>{{ user.department | toUpperCase }}</dd>

            <!-- Currency is a built-in filter. The pound sign is sent as the second parameter (user.salary is the first)  -->
            <dt>Salary</dt><dd>{{ user.salary | currency:'£' }}</dd>
            <input ng-model="user.name"/>

            <span ng-click="u.deleteUser(user)">Delete</span>
          </dl>
        </li>
      </ul>
      {% endraw %}
    </div>
  </body>
</html>
